<section class="thirteen columns">
    <h1>Pendidikan</h1>
    <article>
        <header>
            <h1>Magister Ekonomi Syariah</h1>
            <span>Sekolah Tinggi Ekonomi Islam Tazkia</span>
            <span><address>Bogor, Indonesia</address><time>2015 to sekarang</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Lc. Jurusan Syariah Islam</h1>
            <span>Universitas Al Azhar</span>
            <span><address>Kairo, Mesir</address><time>2010 to 2014</time></span>
        </header>
        <p>
            <em>IPK : 3,13</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Tahsin dan Tahfidz Qur'an</h1>
            <span></span>
            <span><address>Kairo, Mesir</address><time>2011 to 2014</time></span>
        </header>
        <p>
            <em>Hafidz 30 Juz dengan Sanad Qira'ah 'Ashim dengan riwayat Hafsh</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Madrasah Aliyah</h1>
            <span>Pesantren Al-Hamidiyah</span>
            <span><address>Depok, Indonesia</address><time>2006 to 2009</time></span>
        </header>
    </article>
</section>
