<section class="thirteen columns">
    <h1>Riwayat Pekerjaan</h1>
    <article>
        <header>
            <h1>Instruktur Tahsin dan Bahasa Arab</h1>
            <span><address>ArtiVisi Intermedia</address><time>2015 - sekarang</time></span>
        </header>
        <p>Mengajar tahsin dan bahasa Arab untuk karyawan <a href="http://www.artivisi.com">PT ArtiVisi Intermedia</a></p>
    </article>
    <article>
        <header>
            <h1>Instruktur Tahfidz</h1>
            <span><address>Yayasan Sahabat Qur'an, Bogor</address><time>2015 - sekarang</time></span>
        </header>
        <p>Mengajar tahsin dan menerima setoran hafalan untuk para instruktur di <a href="http://sahabatquran.com/">Yayasan Sahabat Qur'an Bogor</a></p>
    </article>
    <article>
        <header>
            <h1>Guru</h1>
            <span><address>Pesantren Al Hamidiyah, Depok</address><time>2015 - sekarang</time></span>
        </header>
        <p>Mengajar Ilmu Al-Quran, Hadits, dan Bahasa Arab</p>
    </article>
</section>
